.calculater{
    background-color: red;
    height:70%;
    width: 70%;
    
}

.cal-display{
    background-color: orange;
    height: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.result{
   height:70%;
   width:95%;
   background-color: papayawhip;
   border-radius: 30px;
   display: flex;
   align-items: center;
   padding-left: 10px;
}
.inputshow{
    font-size: 50px;
    font-weight: bold;
}

.cal-pannel{
    background-color: yellow;
    height:70%;
    width:auto;
    padding: 3%;
}
.pannel{
    background-color: red;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
}
.pannel-count{
    width: 60%;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 2px;
    }
    .count1{
        background-color: black;
        display: flex;
        color:white;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .operator{
        width: 20%;
        height: 30%;
        background-color: pink;
    }